@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  input[type="checkbox"] + span::before {
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input[type="checkbox"]:checked + span {
    background-color: #00bfff;
  }
  
  input[type="checkbox"]:checked + span::before {
    transform: translateX(26px);
  }
  